/* ============================================================
    Estilos Base y Fuentes
============================================================ */

/* Fuentes Personalizadas */
@font-face {
    font-family: 'Pixellari';
    src: url('../fonts/Pixellari.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Estilos Generales HTML y Body */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #008080;
    font-family: Tahoma, sans-serif;
    user-select: none;
    overflow: hidden !important; /* Oculta scrollbar en todo el documento */
}